@import url('https://fonts.googleapis.com/css2? family= Hanken+Grotesk:wght@100;200;300;400;500;600;700;800;900 & display=swap' );

:root{
    /*Primary*/
    --Light-red : hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);

    /*Gradients*/
    --Light-slate-blue: hsl(252, 100%, 67%); /*background*/
    --Light-royal-blue : hsl(241, 81%, 54%); /*background*/
    --Violet-blue : hsla(256, 72%, 46%, 1); /*circle*/
    --Persian-blue : hsla(241, 72%, 46%, 0); /*circle*/

    /*Neutral*/
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1440px;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--White);
    font-family: 'Hanken Grotesk', sans-serif;
}

.card{
    width: 600px;
    height: 400px;
    display: flex;
    border: 1px solid transparent;  
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.left-card-container{
    background: var(--Violet-blue);
    width: 300px;
    border-radius: 22px;
    text-align: center;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.left-card-container h2{
    font-size: 16px;
    font-weight: 600;
    color: var(--Light-lavender);
}

.left-card-container .button{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 1px solid transparent;
    background-color: var(--Violet-blue);
    color: var(--White);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    font-size: 12px;
    color: var(--Light-lavender);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.left-card-container .button span{
    font-size: 50px;
    font-weight: 600;
    color: var(--White);
}

.left-card-container h3{
    font-size: 20px;
    font-weight: 700;
    color: var(--White);
}

.left-card-container p{
    width: 90%;
    font-weight: 400;
    font-size: 16px;
    color: var(--Light-lavender);
    line-height: 1.5em;
}

.rignt-card-container{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;  
    padding: 20px;
    border-radius: 22px;
}

.rignt-card-container h1{
    font-size: 18px;
    font-weight: 600;
    color: var(--Dark-gray-blue);
}

.rignt-card-container div{
    margin: 10px 0;
}

.rignt-card-container .summary-component{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid transparent;
    padding: 10px;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 6px 0px;
}

.summary-component .module{
    display: flex;
    align-items: center;
    gap: 5px;
}

.summary-component .module h5{
    font-weight: 600;
    font-size: 15px;
}

.summary-component .module img{
    width: 20px;
}

.summary-component p{
    font-size: 15px;
    font-weight: 600;
    display: flex;
    gap: 4px;
    color: var(--Dark-gray-blue);
}

.summary-component p span{
    color: var(--Light-lavender);
}

.rignt-card-container div .reaction{
    color: var(--Light-red);
    background: hsla(0, 100%, 67%, 0.1);
}

.rignt-card-container div .memory{
    color: var(--Orangey-yellow);
    background:hsla(39, 100%, 56%, 0.1)
}

.rignt-card-container div .verbal{
    color: var(--Green-teal);
    background:  hsla(166, 100%, 37%, 0.1);
}

.rignt-card-container div .visual{
    color: var(--Cobalt-blue);
    background:   hsla(234, 85%, 45%, 0.1);
}

.rignt-card-container button{
    background: hsla(256, 72%, 46%, 1);
    color: var(--White);
    padding: 12px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 600;
    border: none;
}

.attribution {
    font-size: 11px;
    text-align: center;
    padding: 40px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}

@media only screen and (max-width: 700px) {
    body{
        box-sizing: border-box;
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    .card{
        flex-direction: column;
        width: 300px;
        height: auto;
        overflow: hidden;
    }

    .left-card-container{
        border-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}